/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

#app {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

header {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 2px;
    width: 100px;
    flex: 1 0 20%;
}

#start-screen {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#start-screen button{
    margin: 1vh;
}

#menu-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#menu-panel button{
    margin: 0.25vh;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.option {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: white;
}

#home-tab h2 {
    margin: 0; /* Remove any default margin */
}

#skip-day:hover {
    background-color: #0056b3;
}

h1, .header, nav {
  position: sticky;
  top: 0;
  background-color: #ffffff; /* Add background color to prevent content overlap */
  padding: 10px 20px; /* Add some padding for styling */
  border-bottom: 2px solid #ccc; /* Optional: Add a bottom border for a clean look */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.header {
  top: 59px;
}

nav {
  top: 254.5px;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: #007bff;
    text-decoration: underline;
}

/* Tooltip text */
.tooltip .tooltip-text {
    visibility: hidden;
    width: 150px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Position above the tooltip trigger */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0; /* Start hidden */
    transition: opacity 0.3s;
    font-size: 12px;
}

/* Arrow at the bottom of the tooltip */
.tooltip .tooltip-text::after {
    content: '';
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
}

/* Show the tooltip on hover */
.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

#tooltip-expenses {
    text-transform: capitalize;
}

#tooltip-money {
    text-transform: capitalize;
}
